<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Venta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <!---header--->
    <header>
        <h1>Catálogo PDF</h1>
    </header>

    <!---Sections--->
    <section class="main-section">
        <h2>Generador de Catálogos PDF</h2>
        <p>Crea catálogos profesionales desde una carga manual o subiendo tu archivo Excel.</p>
        <p>Muestra tus productos de forma profesional y atractiva.</p>
        <button id="open-modal-inicial">Comenzar</button>
    </section>

    <!---footer--->
    <footer class="footer">
        <p class="copyright">
            &copy; Michelito145 | All Rights Reserved
        </p>
    </footer>

    <section class="modalcontainer" id="modal-inicial">
        <div class="modal-box">
            <h2>Seleccionar método</h2>
            <p>Elige cómo deseas comenzar</p>
            <div class="inicio-options">
                <button id="formulario-manual">
                    Carga Manual
                </button>
                <button id="open-modal-excel">
                    Cargar Excel
                </button>
            </div>
            <button id="close-modal-inicial">
                Cerrar
            </button>
        </div>
    </section>

    <!-- Modal Excel -->
    <section class="modalcontainer" id="modal-excel">
        <div class="modal-box">
            <!-- STEP 1: Subir archivo -->
            <div id="excel-upload">
                <h2>Cargar Excel</h2>
                <form id="excel-form" enctype="multipart/form-data">
                    <input type="file" name="file" required>

                    <div class="excel-options">
                        <button type="button" id="close-modal-excel">Volver</button>
                        <button type="submit">Subir archivo</button>
                    </div>
                </form>
            </div>

            <!-- STEP 2: Mapeo (oculto al inicio) -->
            <div id="excel-mapping" style="display: none;">
                <h2>Mapeo de columnas</h2>
                <p>Indique qué representa cada columna</p>

                <div id="columns-container"></div>

                <button type="button" id="add-column">Agregar columna extra</button>

                <div class="excel-options">
                    <button type="button" id="back-to-upload">Volver</button>
                    <button type="button" id="continue-btn">Continuar</button>
                </div>
            </div>

        </div>
    </section>

    <!---Script--->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>